.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#preloader{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 3000;  
}

.preloader--img{
  width: 4vw;
  animation: fadeout 0.5s linear infinite alternate;
}

.preloader--text{
  font-size: 4vw;
  font-weight: 900;
  color: #333;
  animation: fadeout 0.5s linear infinite alternate;
}

.main--container{
  width: 100%;
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeout {
  from { 
    opacity: 1;
  }
  to   { 
    opacity: 0;
  }
}

@media screen and (max-width: 500px){
  .preloader--img{
    width: 4vh;
  }
  
  .preloader--text{
    font-size: 4vh;
  }
}